 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Full Stack Web Developer, Interested in creating modern & robust Web Application & Service</p>
                </div>
                <div class="col-lg-4">
                    <p>I'd love to use PHP,MySQL,JavaScript technology and any other Open Source System related. Always Enthusiast with all new web technology innovation. </p>
                </div>
               
            </div>
        </div>
    </section>